%{ if length(tls_san) > 0 }tls-san:
%{ for x in tls_san }  - ${x}
%{ endfor }%{ else }server: https://${server}:9345
%{ endif }
token: ${token}
# %{ if schedule }%{ else }node-taint:
#   - "CriticalAddonsOnly=true:NoExecute"
# %{ endif }
protect-kernel-defaults: true
profile: cis-1.6
# selinux: true
